.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  border: 1px solid transparent;
  text-decoration: none;
  color: var(--text-color);
}

.header-logo {
  display: block;
  align-items: center;
}

.navegacao {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resumo {
  border: 1px solid var(--borda-button-nav);
  padding: 11px 15px;
  border-radius: 8px;
}

.header-mod-escuro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1187px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }
  .navegacao {
    gap: 40px;
  }
}

@media (max-width: 656px) {
  .header-menu {
    gap: 15px;
  }
  /* .navegacao ul li:last-child {
    display: none;
  } */
  .navegacao {
    flex-direction: column;
  }
  .header-mod-escuro {
    flex-direction: column-reverse;
  }
  .header-menu a {
    background-color: var(--fundo-links-a);
    border-radius: 4px;
  }

  .header-logo {
    max-width: 70%;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 400px){
  .header{
    padding: 10px 20px;
    margin-top: 20px;
    gap: 9px;
  }
  .header-menu {
    gap: 8px;
  }
}