.introducao {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 40px 20px;

  img {
    display: block;
    max-width: 100%;
  }
}

.introducao-descricao {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  p {
    font-size: 1.33rem;
    font-weight: 400;
  }
}

.introducao-titulo {
  font-family: Plus Jakarta Sans, Arial;
  font-weight: bold;
  font-size: 3.4rem;
}

.introducao-titulo span {
  color: var(--cor-detalhe-verde);
}

.introducao-descricao ul {
  display: flex;
  gap: 30px;
}

@media (max-width: 1051px) {
  .introducao-titulo {
    font-size: 2rem;
  }
  .introducao-descricao ul {
    gap: 20px;
  }

  .introducao-descricao p {
    font-size: 1rem;
  }
  .introducao img {
    display: block;
    max-width: 400px;
  }
}

@media (max-width: 635px) {
  .introducao {
    flex-direction: column;
    margin-top: 0px;
  }
  .introducao img {
    align-self: center;
  }
}
@media (max-width: 400px) {
  .introducao img {
    align-self: center;
    max-width: 300px;
    
  }
  .introducao {
    margin-top: 10px;
    padding: 0px 20px 20px 20px;
  }
}
@media (max-width: 260px) {
  .introducao img {
    align-self: center;
    max-width: 250px;
  }
}
@media (max-width: 190px) {
  .introducao img {
    align-self: center;
    max-width: 190px;
  }
}
