#meusProjetos {
  background-color: var(--fundo-secundario);
  font-family: "Inter", serif;
  box-sizing: border-box;
  
  
}




.projeto-container {
  max-width: 1200px;
  margin: 0 auto;
  
  
  
  /* background-color: red; */

}

.projetos-titulo  {
  font-weight: bold;
  font-size: 2.4rem;
  margin-top: 10px;
  padding: 20px 20px;

  /* background-color: green; */
}

.projeto-container p {
  padding: 0px 20px;
  width: 400px;

}

.section-card {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--fundo-secundario);

  transition: 0.2s ease;
  width: 100%; /* Garante que não ultrapasse a largura do viewport */
  overflow-x: hidden; /* Remove qualquer conteúdo que extrapole */
  box-sizing: border-box
  
}
.card-warapper {
  max-width: 1200px;
  overflow-x: hidden;
}

.card-list {
  display: flex;
  gap: 10px;
  overflow-x: hidden;
  overflow-x: scroll; /* Habilita a rolagem horizontal */
  scrollbar-width: none;
}
.card-list::-webkit-scrollbar {
  display: none; /* Esconde a barra de rolagem no Chrome, Edge, Safari */
}
.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  width: 350px;
  display: block;
  background-color: var(--fundo-principal);
  padding: 18px;
  border-radius: 12px;
  border: 2px solid transparent;
  box-shadow: 0 4px 6px var(  --sombra-card), 0 1px 3px var( --sombra-card-secundario);
}

.card-list .card-item .card-link:hover {
  border-color: var(--cor-detalhe-verde);
}
.card-list .card-link .card-img {
  width: 100%;
  aspect-ratio: 16/ 9;
  object-fit: cover;
  border-radius: 10px;
}

/* .card-list .card-link {
  padding: 8px 16px;
  margin: 16px 0 18px;
  width: fit-content;
  border-radius: 25px;
} */

.card-list .card-link .titulo-card{
  font-size: 1.19rem;
  color: var(--text-color);
  font-weight: 600;
  margin-top: 10px;
}

.card-list .card-link .tec-card .card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border: 2px solid var(--cor-detalhe-verde);
  transform: rotate(-45deg);
  transition: 0.4 ease;
  .seta2 {
    display: none;
  }
}

.card-list .card-link:hover .tec-card .card-button {
  background-color: var(--cor-detalhe-verde);
  .seta2 {
    display:block;
  }
  .seta1 {
    display: none;
  }


}


.tecnologia {
  display: inline-block;
  padding: 5px 15px;
  margin-top: 20px;
  border: 1px solid var(--fundo-links-a);
  border-radius: 8px;
}



.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}




@media (max-width: 1208px ){


}

@media (max-width: 400px ) {
  .projetos-titulo {
    font-size: 2rem;
  }
}