body {
  background-color: rgb(30, 30, 151);
  font: normal 15pt Arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.733);
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}
#botao {
  padding-top: 20px;
  justify-content: center;
  display: flex;
  height: 100px;
}

#botao1 {
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 12pt;
  border: none;
  border-radius: 1000px;
  color: #000;
  transition: all 0.6s ease-in-out 0s;
  box-shadow: inset 0 0 20px hsl(236, 37%, 44%);
}

#botao1:hover {
  background: transparent;
  color: #00ffcb;
  transform: scale(1.5) rotate(360deg);
  box-shadow: 0 0 60px rgb(0, 255, 203, 0.64);
  cursor: grab;
  border: 2px solid #00ffcb;
  background: #1d2834;
}
@media(max-width: 768px){
  body{
    font-size: 14pt;
  }
  header {
    font-size: 20pt;
    padding: 10px;
  }
  section {
    width: 90%;
    padding: 10px;
    text-align: center;
  }
  #botao1{
    width: 150px;
    height: 45px;
    font-size: 10pt;
  }
  
  
}